body {
    background-color: #FEFBFD;
    margin: auto;
    box-sizing: border-box;
    
}
.wrapper {
  width:100%; 
  height: 100%;
  margin: 0px;

}

header {
    display: none;
}

#title {
    width: 60%;
    height: 800px;
    margin: 0px 10px 0px 0px;  text-align: left;
    background-color: #FEFBFD;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: initial;
 
}

#title h1 {
    font-family: 'Petit Formal Script', cursive;
    color: black;
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 200px;
    margin-left: 10px;
    
}
#title h1 span {
    color: crimson;
}

#images {
   
    width: 39%;
    height: 800px;
    text-align: center;
    background-color: #FEFBFD;
    display: block;
    float: right;
    
}

.slideshow {
    width: 100%;
    height: 799px;
    text-align: center;
    background-color: #FEFBFD;
    display: inline-block;
    overflow: auto;


}

#about {
    width: 100%;
    height: 800px;
    background-color: #FEFBFD;
    display: block;
    float: left; 
    clear: both;
    
}

#about h1 {
    font-family: 'Petit Formal Script', cursive;
    color: black;
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
}

#about p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 90%;
    margin: 10px 40px 10px 40px;
    padding: 20px;
    clear: both;
    line-height: 2em;

}

#about p span {
    text-transform: uppercase;
    color: #1F0E2A;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.carol-img {
    overflow: hidden;
    max-width: 30%;
    height: 165px;
    display: inline-block;  
    margin: 40px;
    margin: 40px 20px 0px 60px;
}

.carol-img img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.charlie-img {
    overflow: hidden;
    max-width: 30%;
    height: 165px;
    display: inline-block;

}

.charlie-img img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

#work {
    width: 100%;
    height: 2000px;
    background-color: #FEFBFD;
    display: block;
    float: left;
    clear: both;
    text-align: center;
    
}

#work h1 {
    font-family: 'Petit Formal Script', cursive;
    color: black;
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    
}

.column-left {
    
    width: 50%;
    height: 1700px;
    display: block;
    background-color: #FEFBFD;
    text-align: center;
    float: left;
}

.column-right {
   
    width: 45%;
    height: 1700px;
    display: block;
    background-color: #FEFBFD;
    text-align: center;
    float: right;
}

.portfolio-painting {
    max-width: 40%;
    max-height: 40%;
    overflow: hidden;
    margin: 10px;
    display: block;
    margin: 10px 10px 10px 60px; 
    
}
.portfolio-painting img{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
      
}

.portfolio-painting-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin: 10px 0px 10px 40px;
    padding: 20px;
    clear: both;
    line-height: 2em;
}
.portfolio-photography {
    max-width: 50%;
    max-height: 50%;
    overflow: hidden;
    margin: 10px;
    display: block;
    margin: 10px 10px 10px 60px;
}

.portfolio-photography img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.portfolio-photography-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin: 10px 0px 10px 40px;
    padding: 20px;
    clear: both;
    line-height: 2em;
}
.portfolio-sculpture {
    max-width: 70%;
    max-height: 70%;
    overflow: hidden;
    margin: 10px;
    display: block;
    margin: 10px 10px 10px 60px;
}

.portfolio-sculpture img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.portfolio-sculpture-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin: 10px 0px 10px 40px;
    padding: 20px;
    clear: both;
    line-height: 2em;
}

.portfolio-jewelry {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    margin: 10px;
    display: block;
    margin: 10px 10px 10px 60px;
}

.portfolio-jewelry img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
.portfolio-jewelry-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin: 10px 0px 10px 40px;
    padding: 20px;
    clear: both;
    line-height: 2em;
}
#commission {
    width: 100%;
    height: 800px;
    background-color: #FEFBFD;
    display: block;
    float: left;
}

#commission h1 {
    font-family: 'Petit Formal Script', cursive;
    color: black;
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;  
}

.quarter-width {
    width: 25%;
    height: 400px;
    background-color: #FEFBFD;
    text-align: center;
    margin: 0px;
    float: left;
    display: block;
}

.quarter-width img {
    max-width: 30%;
    max-height: 30%;
    text-align: center;
    display: inline-block;
    margin: 40px 0px 0px 0px;

}

.quarter-width p {
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 20px;
    margin: 20px;
    line-height: 1.5em;
    

}
#contact {
    width: 100%;
    height: 800px;
    background-color: #FEFBFD;
    display: block;
    float: left; 
    
}

#contact h1 {
    font-family: 'Petit Formal Script', cursive;
    color: black;
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
}
